@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Libre+Baskerville:ital@1&family=Poller+One&family=Roboto+Slab:wght@100..900&family=Rubik+Bubbles&family=Vina+Sans&display=swap');    

* {
    font-family: "Roboto Slab", serif;
}

.mygrey {
    background: #ececec;
}

.tags {
    border-radius: 15px;
    background: #ececec;
    color: #6865FF;
    padding: 10px;
    font-size: 11px;
}